[[ -f ~/.extend.xprofile ]] && . ~/.extend.xprofile

# fcitx
export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS=@im=fcitx
export DefaultIMModule=fcitx

xcape -e "Control_L=Escape"

# Disable touchpad
xinput disable "SynPS/2 Synaptics TouchPad"

# Albert scaling
export QT_SCALE_FACTOR=1
