! ^ The above lines are no comments!
! Leave them as they are if a file ~/.extend.Xresources is being used on your system.
! config can be added there or also here below.
! For comments use "!"

Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

XTerm*faceName: Fixed
XTerm*faceSize: 11


URxvt*perl-ext-common: default,matcher,resize-font,xim-onthespot
! NOTE: urxvt-resize-font-git should be installed for resize-font
URxvt.inputMethod: fcitx
URxvt.preeditType: OnTheSpot

! font
! If true, it may conflict with fcitx
!   URxvt.allow_bold: true
URxvt.allow_bold: false 
URxvt*font: \
  xft:Consolas:size=14:antialias=ture, \
  xft:Ricty:size=14:antialias=ture

! cursor
URxvt.cursorColor: #00ff00
! If cursorBlink: true, it may conflict with fcitx
!   URxvt.cursorBlink: true

! tranparent
URxvt.transparent: true
URxvt.shading: 20
URxvt.depth: 32
URxvt.background: [80]#000000

! japanese
URxvt*inputMethod: fcitx
URxvt*preeditType: OhTheSpot

! Open URL with browser
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
URxvt.keysym.M-Delete: perl:matcher:list

! fontsize
URxvt.resize-font.smaller: C-minus
URxvt.resize-font.bigger: C-equal
URxvt.resize-font.reset: C-plus

! scrollbar
URxvt*scrollBar: false

! foreground
URxvt*foreground: #d0d0d0

! color
!! Dracula
*.foreground: #F8F8F2
*.background: #282A36
*.color0:     #000000
*.color8:     #4D4D4D
*.color1:     #FF5555
*.color9:     #FF6E67
*.color2:     #50FA7B
*.color10:    #5AF78E
*.color3:     #F1FA8C
*.color11:    #F4F99D
*.color4:     #BD93F9
*.color12:    #CAA9FA
*.color5:     #FF79C6
*.color13:    #FF92D0
*.color6:     #8BE9FD
*.color14:    #9AEDFE
*.color7:     #BFBFBF
*.color15:    #E6E6E6

URxvt*buffered: false

!! backup
! XTerm*background: #2b2b2b
! XTerm*foreground: #e7e7e7
! XTerm*pointerColor: #16A085
! 
! URxvt*color0: #2E3436
! URxvt*color1: #CC0000
! URxvt*color2: #4E9A06
! URxvt*color3: #C4A000
! URxvt*color4: #3465A4
! URxvt*color5: #75507B
! URxvt*color6: #06989A
! URxvt*color7: #D3D7CF
! URxvt*color8: #555753
! URxvt*color9: #EF2929
! URxvt*color10: #8AE234
! URxvt*color11: #FCE94F
! URxvt*color12: #729FCF
! URxvt*color13: #AD7FA8
! URxvt*color14: #34E2E2
! URxvt*color15: #EEEEEC

