[[plugins]]
repo = 'Shougo/dein.vim'
[[plugins]] # カーソル位置のコンテキストに合わせてftを切り替える
repo = 'osyo-manga/vim-precious'
depends = ['context_filetype.vim']
[[plugins]] # カーソル位置のコンテキストのftを判定するライブラリ
repo = 'Shougo/context_filetype.vim'
[[plugins]] # toml syntax
repo = 'cespare/vim-toml'
on_ft = 'toml'
[[plugins]]
repo = 'Shougo/vimproc.vim'
build = 'make'
[[plugins]]
repo = 'Shougo/neosnippet-snippets'
[[plugins]]
repo = 'vim-scripts/AutoClose'
[[plugins]]
repo = 'Shougo/neomru.vim'
on_path = '.*'
[[plugins]]
repo = 'jiangmiao/auto-pairs'
on_i = 1
[[plugins]]
repo = 'Shougo/neoyank.vim'
on_path = '.*'
on_i = 1
[[plugins]]
repo = 'Shougo/neosnippet'
depends = ['neosnippet-snippets']
on_i = 1
on_ft = ['snippet']
[[plugins]]
repo = 'Shougo/deoplete.nvim'
on_i = 1
[[plugins]]
repo = 'Shougo/unite.vim'
depends = 'neomru.vim'
[[plugins]]
repo = 'tpope/vim-surround'
[[plugins]]
repo = 'tpope/vim-endwise'
[[plugins]]
repo = 'vim-scripts/surround.vim'
[[plugins]]
repo = "tpope/vim-repeat"
[[plugins]]
repo = 'itchyny/lightline.vim'
hook_add = '''
let path = fnamemodify(expand($MYVIMRC), ":h")."/lightline.vim"
exec "source " . path
'''
[[plugins]]
repo = "thinca/vim-quickrun"
[[plugins]]
repo = 'vim-scripts/YankRing.vim'
[[plugins]]
repo = "Lokaltog/vim-easymotion"
[[plugins]]
repo = "vim-scripts/sudo.vim"
[[plugins]]
repo = 'vim-scripts/spinner.vim'
# [[plugins]]
# repo = "othree/vim-autocomplpop"
[[plugins]]
repo = "vim-scripts/FuzzyFinder"
depends = ["L9"]
[[plugins]]
repo = "vim-scripts/L9"
[[plugins]]
repo = "dag/vim-fish"
[[plugins]]
repo = 'Shougo/denite.nvim'
[[plugins]]
repo = 'majutsushi/tagbar'
[[plugins]]
repo = "kassio/neoterm"
[[plugins]]
repo = "junegunn/fzf"
[[plugins]]
repo = "junegunn/fzf.vim"

# Ruby / Rails
[[plugins]]
repo = 'tpope/vim-rails'
[[plugins]]
repo = 'vim-scripts/ruby-matchit'
[[plugins]]
repo = 'vim-ruby/vim-ruby'
[[plugins]]
repo = 'vim-scripts/rails.vim'
[[plugins]]
repo = 'tpope/vim-rails'
[[plugins]]
repo = "Shougo/deoplete-rct"
on_ft = "rb"

# Golang
[[plugins]]
repo = "vim-jp/vim-go-extra"
on_ft = "go"
[[plugins]]
repo = "fatih/vim-go"
on_ft = "go"

# Git
[[plugins]]
repo = "tpope/vim-fugitive"
[[plugins]]
repo = "tpope/vim-git"

# Markdown
[[plugins]]
repo = "plasticboy/vim-markdown"
[[plugins]]
repo = "kannokanno/previm"
[[plugins]]
repo = "tyru/open-browser.vim"

# Python
[[plugins]]
repo = "kevinw/pyflakes-vim"
on_ft = "python"
[[plugins]]
repo = "ivanov/vim-ipython"
on_ft = "python"
[[plugins]]
repo = "davidhalter/jedi-vim"
on_ft = "python"

# # General
# 
# 
# # Python
# NeoBundle 'Shougo/neocomplcache'
# NeoBundle 'Shougo/neosnippet'
# NeoBundle 'Shougo/neosnippet-snippets'
# NeoBundle 'EnhCommentify.vim'
# NeoBundle 'Shougo/vimfiler'
# NeoBundle 'Shougo/vimshell'
# NeoBundle 'Shougo/vimproc', {
#       \ 'build' : {
#       \     'windows' : 'make -f make_mingw32.mak',
#       \     'cygwin' : 'make -f make_cygwin.mak',
#       \     'mac' : 'make -f make_mac.mak',
#       \     'unix' : 'make -f make_unix.mak',
#       \    },
#       \ }
# NeoBundle 'tsaleh/vim-matchit'
# NeoBundle 'mattn/webapi-vim'
# NeoBundle 'mattn/mkdpreview-vim'
# NeoBundle 'kana/vim-textobj-user'
# NeoBundle 'kana/vim-textobj-line'
# NeoBundle 'tomtom/tcomment_vim'
# NeoBundle 'nathanaelkane/vim-indent-guides.git'
# NeoBundle 'koron/minimap-vim'
# NeoBundle 'FuzzyFinder'
# NeoBundle 'L9'
# NeoBundle 'scrooloose/syntastic'
# NeoBundle 'gitv'
# " NeoBundle "bkad/CamelcaseMotion"
# NeoBundle 'dag/vim2hs'
# NeoBundle 'ujihisa/neco-ghc'
# NeoBundle 'eagletmt/ghcmod-vim'
# NeoBundle "dbext.vim"
# " NeoBundle "bling/vim-airline"
# NeoBundle "itchyny/lightline.vim"
# NeoBundle "thinca/vim-ref"
# NeoBundle 'osyo-manga/vim-over'
# " NeoBundle 'rcmdnk/vim-markdown'
# let g:vim_markdown_folding_disabled=1
# NeoBundle "troydm/easybuffer.vim"
# NeoBundle "Changed"
# NeoBundle 'koron/codic-vim'
# NeoBundle 'kien/ctrlp.vim'
# NeoBundle "terryma/vim-multiple-cursors"
# NeoBundle "thoughtbot/vim-rspec"
# 
# 
# 
# " unite family
# NeoBundle 'Shougo/unite.vim'
# NeoBundle 'h1mesuke/unite-outline'
# NeoBundle 'rhysd/unite-codic.vim'
# NeoBundle 'ujihisa/unite-colorscheme'
# NeoBundle 'ujihisa/unite-font'
# 
# 
# NeoBundle "stephpy/vim-yaml"
# 
# " node / JS
# NeoBundle "jelera/vim-javascript-syntax"
# NeoBundle "moll/vim-node"
# 
# NeoBundle "glidenote/memolist.vim"
# 
# 
# NeoBundle "Shougo/neocomplete"

